$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-green: #55DFB4;
$color-red: #FB3B64;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$color-border: #E8E9ED;

$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

$button-radius: 35px;

$desktop: 1352px;
$device1024: 1024px;
$tablet: 792px;
